- content_for :head do
  = stylesheet_link_tag 'users'

- content_for :javascript do
  = javascript_include_tag 'users'

#edit.content.container-fluid
  .row
    = form_for(@user) do |f|
      = render 'shared/error_messages', :object => f.object
      .col-md-4.left
        .title.lead
          .gravatar= gravatar_for @user, size: '80x80'
          .info
            .name
              = f.label :nom, "Prenom"
              = f.text_field :prenom
            .field
              = f.label :nom, "Nom"
              = f.text_field :nom
            .email
              = f.label :nom, "Email"
              = f.text_field :email
        .actions.pull-right
          = f.submit "Update", class: 'btn btn-success'
          %span#add-field
            .btn.btn-primary Ajouter un champ
      .col-md-8.right
        #fields.container-fluid
          .lead Mes infos
        #user_fields
          - for name, text in @fields
            .row.field.user_field
              .col-md-4
                %input{type: 'text', name: 'fields[name][]', value: name, placeholder: 'Nom du champ'}
              .col-md-8
                %textarea{name: 'fields[text][]', placeholder: 'Détails', cols: '20'}= text
