- content_for :head do
  = stylesheet_link_tag 'show_users'

.content.container-fluid
  .row
    .col-md-8.left
      .panel.panel-primary
        .panel-heading
          %h3.panel-title 
            =gravatar_for @user
            =@user.prenom
            =@user.nom
        .panel-body
          =@user.email
        - for rdv in current_user.rdvs
          .rendez-vous
            %span.start= Time.at(rdv.time_slot.start).strftime "Le %a %d %b %Y à %H:%M"
            %span avec le docteur
            %span= "#{rdv.doctor.name}."
        - for name, text in @fields
          %span= name
          %span= text