- content_for :head do
  = stylesheet_link_tag 'users'

#show.content.container-fluid
  .row
    .col-md-6.left
      .title.lead
        .gravatar= gravatar_for @user, size: '80x80'
        .info
          .name= "#{@user.prenom} #{@user.nom}"
          .email= @user.email
      #fields.container-fluid
        .lead Mes infos
        - for name, text in @fields
          .row.field
            .col-md-4
              .name= name
            .col-md-8
              .text= text
    .col-md-6.right
      #rendez-vous.container-fluid
        .lead Mes rendez-vous
        .row.title
          .col-md-4 Date
          .col-md-4 Docteur
          .col-md-4 Spécialité
        - for rdv in current_user.rdvs
          .row.rendez-vous
            .col-md-4.start
              %div= Time.at(rdv.time_slot.start).strftime "%a %d %b %Y, %H:%M"
            .col-md-4
              %div= rdv.doctor.name
            .col-md-4
              %div= rdv.doctor.speciality.capitalize
