!!!
%html
  %head
    %title= titre
    = csrf_meta_tags
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'font-awesome.min'
    = stylesheet_link_tag 'jquery-jvectormap-1.2.2'
    = stylesheet_link_tag 'bootstrap'
    = stylesheet_link_tag 'pages'
    = yield :head
  %body
    %header
      %a#logo{href: root_path}
        = image_tag "/assets/logo.png", :alt => "Accueil LinkMed"
      - if signed_in?
        #profil.btn.btn-success
          %a{href: edit_user_path(current_user)}
            Profil
            %i.fa.fa-edit
      - else
        #inscription.btn.btn-success
          %a{href: signup_path}
            S'inscrire
            %i.fa.fa-pencil
      - if signed_in?
        #deconnexion.btn.btn-primary
          %a{href: signout_path, :method => :delete}
            Déconnexion
            %i.fa.fa-sign-out
      - else
        #connexion.btn.btn-primary
          %a{href: signin_path}
            Connexion
            %i.fa.fa-sign-in
    %section.round
      - flash.each do |key, value|
        %div{:class => "flash #{key}"}= value
    = yield
    / # = debug(params) if Rails.env.development?
  = javascript_include_tag 'jquery-2.1.0.min'
  = javascript_include_tag 'bootstrap'
  = yield :javascript